.center {
	margin-left: auto;
	margin-right: auto;
	width: 1001px;
}
#header {
	border-style: solid;
	border-width: 1px;
	display: block;
	margin-top: 2px;
	margin-bottom: 2px;
	color: #003399;
}
ul.nav
{
	list-style-type:none;
	margin:0;
	padding:0;
	padding-top:6px;
	padding-bottom:6px;
	float:left;
}
li.nav
{
	display: inline;
	margin: 3px 5px 3px 5px;
	padding-top:6px;
	padding-bottom:6px;
	background-color:#99ccdd;
	
}
a#nav:link,a#nav:visited
{
font-weight:bold;
color:#FFFFFF;
background-color:#99ccff;
text-align:center;
padding:6px;
text-decoration:none;
}
a:hover,a:active
{
background-color:#7A991A;
}
#header2 {
	border-style: solid;
	border-width: 1px;
	font-family: Garamond, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1em;
	overflow: auto;
	height: 30px;
	color: #000080;
	background-image: url('../images/event-bg3.png');
	background-repeat: repeat-x;	
}
#copyright {
	clear: left;
	height: 27px;
	font-family: Garamond, Verdana, Geneva, Tahoma, sans-serif;
	font-size: x-small;
	text-align: center;
}
#container {
	padding: 3px;
	padding-bottom: 20px;
	border-style: solid;
	border-width: 1px;
	/*color: #0033CC;*/
	overflow: auto;
	width: 995px;
	margin-top: 2px;
	font-family: Garamond, Verdana, Geneva, Tahoma, sans-serif;
	font-size: 0.9em;
}
#whatareyoudoing
{
	padding-left: 10px;
	padding-bottom: 10px;
}
#payment_mode_subdivide {
	font-family: Garamond, Arial, Helvetica, sans-serif;
	font-size: x-small;
	background-color: #999999;
	visibility: visible;
	float: left;
	clear: both;
	display: block;
	width: 100%;
	clear: left;
}
#payment_mode_subdivide_witholdingTaxEditProper {
	font-family: Garamond, Arial, Helvetica, sans-serif;
	font-size: x-small;
	background-color: #999999;	
	clear: both;
	width: 80%;
}

.witholdingTax_description
{
	float: left;
	width: 138px;
	clear: left;
}
.witholdingTax_data
{
	float: left;
	width: 80px;
	text-align: center;
}
.payment_mode_title {
	font-family: Garamond, Arial, Helvetica, sans-serif;
	font-size: medium;
	background-color: #18DCE7;
	font-weight: bold;	
	width: 100%;
}
#article_SpecificDetail{
	margin-top: 10px;
	font-family: Garamond, Arial, Helvetica, sans-serif;
	padding: 3px 3px 3px 10px;
	font-size: medium;
	font-weight: bold;	
	background-color: rgb(243,243,243);
	margin-bottom: 10px;
	width: 80%;
}
#form_error_notice
{
	color: red;
	border-style: solid;
	border-width: 1px;
	border-color: red;
	padding-left: 20px;
	margin-bottom: 10px;
	padding-bottom: 5px;
}

